<div class="container cart-cont">
  <div class="cart-head">
    <h1 class="uppercase">Basket</h1>
  </div>
  {% form 'cart', cart %}
    <div class="cart-content">
      {% if cart.empty? %}
        <h2 class="txt-center">Cart is empty</h2>
      {% else %}
        <div class="cart-main">
          <div class="cart-block head">
            <div class="cart-block-title">
              <span>Your Selections</span>
            </div>
            <div class="cart-block-quantity">
              <span>Quantity</span>
            </div>
            <div class="cart-block-total">
              <span>Total</span>
            </div>
          </div>
          {% for item in cart.items %}
            <div class="cart-block">
              <div class="cart-block-title">
                <img src="{{ item.image |  image_url: width: 200 }}" alt="{{ item.product.title }}">
                <div class="cart-block-details">
                  <span>{{ item.product.title }}</span>
                  <span>{{ item.final_price | money}}</span>
                  <span>{{ item.product.selected_or_first_available_variant.title }}</span>
                </div>
              </div>
              <div class="cart-block-quantity">
                <div class="product-quantity">
                  <button type="button" id="decrease-quantity">
                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.5 10.5H15.5" stroke="#111111" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </button>
                  <input name="updates[]" value="{{ item.quantity }}">
                  <button type="button" id="increase-quantity">
                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.5 10.5H15.5" stroke="#111111" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M10.5 15.5V5.5" stroke="#111111" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </button>
                </div>
                <a href="{{ item.url_to_remove }}" class="underline">remove</a>
              </div>
              <div class="cart-block-total">
                <p>{{ item.final_line_price | money }}</p>
              </div>
            </div>
            
          {% endfor %}
        </div>
        <div class="cart-summary">
          <p>Total: {{ cart.total_price | money }}</p>
          <button type="submit" name="update">update</button>
          <button type="submit" name="checkout">Checkout</button>
        </div>
      {% endif %}
    </div>
  {% endform %}
</div>

{% schema %}
  {
    "name": "Cart Section",
    "tag": "section",
    "class": "section cart",
    "settings": [
      
    ]
  }
  {% endschema %}