<div class="container collection-cont">
  <div class="collection-head">
    <div class="collection-title">
      <h1>{{ collection.title }}</h1>
    </div>
    <div class="collection-amount">
      <span class="txt-500 fs-14 cl-black-50 uppercase">({{ collection.products_count }} Products)</span>
    </div>
    <div class="collection-filter">
      <button id="filter-show" class="btn-filter-trigger">
        Filter
        <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.5 7.5H10.5" stroke="#111111" stroke-width="0.875" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M7 11V4" stroke="#292D32" stroke-width="0.875" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
      <button class="btn-filter-trigger collection-availability">
        <span>Availability</span>
        <div class="switch">
          <div class="switch-toggle"></div>
        </div>
      </button>
      <button class="btn-filter-trigger">
        Sort By
        <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.6199 5.7207L7.81655 9.52404C7.36738 9.9732 6.63238 9.9732 6.18322 9.52404L2.37988 5.7207" stroke="#111111" stroke-width="0.875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
  </div>
  <div class="collection-main">
    {% for product in collection.products %}
      <div class="collection-product">
        <a href="{{ product.url }}" class="collection-product-anchor">
          <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.5 10.5H15.5" stroke="#111111" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10.5 15.5V5.5" stroke="#111111" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
          
        <img src="{{ product.featured_image |  image_url: width: 320 }}" alt="">

        <div class="collection-product-details">
          <div class="collection-product-title">
            <span class="txt-500 fs-16 cl-black">{{ product.title }}</span>
            <span class="txt-400 fs-16 cl-black-50">{{ product.price | money }}</span>
          </div>

         <!-- Variants -->
          <div class="collection-product-variant">
            {% for variant in product.variants %}
              <button 
                class="variant-button" 
                data-variant-id="{{ variant.id }}">
                {{ variant.title }}
              </button>
            {% endfor %}
          </div>
        </div>

      </div>
    {% endfor %}
  </div>
  <div class="collection-popup">
    <div class="collection-popup-filter">
      <div class="collection-popup-filter-head">
        <span>Filters</span>
        <Button id="filter-hide" class="btn-variant">
          <span>Close</span>
        </Button>
      </div>
      <div class="collection-popup-filter-list">
        <div class="filter-variant">
          <div class="filter-variant-head">
            <span>Colors</span>
            <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.6199 9.2793L7.81655 5.47596C7.36738 5.0268 6.63238 5.0268 6.18322 5.47596L2.37988 9.2793" stroke="#111111" stroke-width="0.875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <div class="filter-variant-list">
            <button class="filter-variant-list-item btn-variant">
              <div class="color-indicator"></div>
              <span>Black</span>
            </button>
            <button class="filter-variant-list-item btn-variant">
              <div class="color-indicator"></div>
              <span>Black</span>
            </button>
            <button class="filter-variant-list-item btn-variant">
              <div class="color-indicator"></div>
              <span>Black</span>
            </button>
            <button class="filter-variant-list-item btn-variant">
              <div class="color-indicator"></div>
              <span>Black</span>
            </button>
            <button class="filter-variant-list-item btn-variant">
              <div class="color-indicator"></div>
              <span>Black</span>
            </button>
            <button class="filter-variant-list-item btn-variant">
              <div class="color-indicator"></div>
              <span>Black</span>
            </button>
          </div>
        </div>
        <div class="filter-variant">
          <div class="filter-variant-head">
            <span>Colors</span>
            <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.6199 9.2793L7.81655 5.47596C7.36738 5.0268 6.63238 5.0268 6.18322 5.47596L2.37988 9.2793" stroke="#111111" stroke-width="0.875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <div class="filter-variant-list">
            <button class="filter-variant-list-item btn-variant">
              <div class="color-indicator"></div>
              <span>Black</span>
            </button>
            <button class="filter-variant-list-item btn-variant">
              <div class="color-indicator"></div>
              <span>Black</span>
            </button>
            <button class="filter-variant-list-item btn-variant">
              <div class="color-indicator"></div>
              <span>Black</span>
            </button>
            <button class="filter-variant-list-item btn-variant">
              <div class="color-indicator"></div>
              <span>Black</span>
            </button>
            <button class="filter-variant-list-item btn-variant">
              <div class="color-indicator"></div>
              <span>Black</span>
            </button>
            <button class="filter-variant-list-item btn-variant">
              <div class="color-indicator"></div>
              <span>Black</span>
            </button>
          </div>
        </div>
        <div class="filter-variant">
          <div class="filter-variant-head">
            <span>Colors</span>
            <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.6199 9.2793L7.81655 5.47596C7.36738 5.0268 6.63238 5.0268 6.18322 5.47596L2.37988 9.2793" stroke="#111111" stroke-width="0.875" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <div class="filter-variant-list">
            <button class="filter-variant-list-item btn-variant">
              <div class="color-indicator"></div>
              <span>Black</span>
            </button>
            <button class="filter-variant-list-item btn-variant">
              <div class="color-indicator"></div>
              <span>Black</span>
            </button>
            <button class="filter-variant-list-item btn-variant">
              <div class="color-indicator"></div>
              <span>Black</span>
            </button>
            <button class="filter-variant-list-item btn-variant">
              <div class="color-indicator"></div>
              <span>Black</span>
            </button>
            <button class="filter-variant-list-item btn-variant">
              <div class="color-indicator"></div>
              <span>Black</span>
            </button>
            <button class="filter-variant-list-item btn-variant">
              <div class="color-indicator"></div>
              <span>Black</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script src="{{ "collection.js" |  asset_url }}"></script>

{% schema %}
  {
    "name": "Collection Section",
    "tag": "section",
    "class": "section collection",
    "settings": [
      
    ],
    "blocks": [
    ]
  }
  {% endschema %}