<div class="container customer-account-cont">
  
  <div class="customer-account-head">
    <h1>Your Account</h1>
    <a href="{{ routes.account_logout_url }}">Logout</a>
  </div>

  <div class="customer-account-main">
    {{ customer.first_name }}
    {{ customer.email }}
    
    {% for address in customer.addresses %}
      <div class="address">
        <p>{{ address.first_name }} {{ address.last_name }}</p>
        <p>{{ address.address1 }}</p>
        {% if address.address2 %}<p>{{ address.address2 }}</p>{% endif %}
        <p>{{ address.city }}, {{ address.province }} {{ address.zip }}</p>
        <p>{{ address.country }}</p>
      </div>
    {% endfor %}
  </div>

</div>

{% schema %}
  {
    "name": "Customer Account Section",
    "tag": "section",
    "class": "section customer-account",
    "settings": [
      
    ],
    "blocks": [
    ]
  }
{% endschema %}