<div class="container customer-account-cont">
  <h1>My Account</h1>
  {{ customer.first_name }}
  {{ customer.email }}

  <div>
    <h2>Order History</h2>
    {% if customer.orders_count > 0 %}
      <ul>
        {% for order in customer.orders %}
          {{ order. }}
          <li>
            <strong>Order #{{ order.name }}</strong> - Placed on {{ order.created_at | date: "%B %d, %Y" }}
            <ul>
              {% for line_item in order.line_items %}
                <li>
                  <strong>Product:</strong> {{ line_item.title }}
                  <br>
                  <strong>Quantity:</strong> {{ line_item.quantity }}
                  <br>
                  <strong>Price:</strong> {{ line_item.price | money }}
                </li>
              {% endfor %}
            </ul>
            <p><strong>Total:</strong> {{ order.total_price | money }}</p>
            <p><strong>Status:</strong> {{ order.fulfillment_status | default: "Pending" }}</p>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>You haven't placed any orders yet.</p>
    {% endif %}
  </div>

</div>

{% schema %}
  {
    "name": "Customer Account Section",
    "tag": "section",
    "class": "section customer-account",
    "settings": [
      
    ],
    "blocks": [
    ]
  }
{% endschema %}