<div class="container customer-account-cont">
  
  <div class="customer-account-head">
    <h1>Your Account</h1>
    <a href="{{ routes.account_logout_url }}" class="txt-500 fs-16 cl-black-60 underline">Logout</a>
  </div>

  <div class="customer-account-main">

  <div class="customer-order-history">
    <h2 class="txt-500 fs-24 cl-black">Your Orders</h2>
    
    {% for order in customer.orders %}
      <div class="customer-order">
        <div class="customer-order-info">
          <span class="order-number fs-24 txt-500">Order #{{ order.name }}</span>
          <span class="order-date fs-16 cl-black-60">{{ order.created_at | date: "%B %d, %Y" }}</span>
        </div>
        <ul>
            {% for line_item in order.line_items %}
              <li>
                <strong>Product:</strong> {{ line_item.title }}
                <br>
                <strong>Quantity:</strong> {{ line_item.quantity }}
                <br>
                <strong>Price:</strong> {{ line_item.price | money }}
              </li>
            {% endfor %}
          </ul>
        <div class="customer-order-details">
          <span class="customer-order-total">Total: {{ order.total_price | money }}</span>
          <span class="customer-order-status">Status: {{ order.financial_status }}</span>
        </div>
      </div>
    {% endfor %}
  </div>


  <div class="customer-account-main-details">
    <div class="customer-name">
      <span>{{ customer.first_name }} {{ customer.last_name }}</span>
      <span>{{ customer.email }}</span>
    </div>
    
    <div class="customer-address">
      {% for address in customer.addresses %}
        <span class="fs-24 txt-500">Address:</span>
        <div class="address">
          <p>{{ address.first_name }} {{ address.last_name }}</p>
          <p>{{ address.address1 }}</p>
          {% if address.address2 %}<p>{{ address.address2 }}</p>{% endif %}
          <p>{{ address.city }}, {{ address.province }} {{ address.zip }}</p>
          <p>{{ address.country }}</p>
        </div>
      {% endfor %}
    </div>
  </div>

  </div>

</div>

{% schema %}
  {
    "name": "Customer Account Section",
    "tag": "section",
    "class": "section customer-account",
    "settings": [
      
    ],
    "blocks": [
    ]
  }
{% endschema %}