<div class="container customer-account-cont">
  
  <div class="customer-account-head">
    <h1>Your Account</h1>
    <a href="{{ routes.account_logout_url }}">Logout</a>
  </div>

  <div class="customer-account-main">
    {{ customer.first_name }}
    {{ customer.email }}
    
    {% for address in customer.addresses %}
      Your Address:
      <div class="address">
        <p>{{ address.first_name }} {{ address.last_name }}</p>
        <p>{{ address.address1 }}</p>
        {% if address.address2 %}<p>{{ address.address2 }}</p>{% endif %}
        <p>{{ address.city }}, {{ address.province }} {{ address.zip }}</p>
        <p>{{ address.country }}</p>
      </div>
    {% endfor %}

    <div class="order-history">
    {% for order in customer.orders %}
      <div class="order">
        <div class="order-info">
          <span class="order-number">Order #{{ order.name }}</span>
          <span class="order-date">{{ order.created_at | date: "%B %d, %Y" }}</span>
        </div>
        <ul>
            {% for line_item in order.line_items %}
              <li>
                <strong>Product:</strong> {{ line_item.title }}
                <br>
                <strong>Quantity:</strong> {{ line_item.quantity }}
                <br>
                <strong>Price:</strong> {{ line_item.price | money }}
              </li>
            {% endfor %}
          </ul>
        <div class="order-details">
          <span class="order-total">Total: {{ order.total_price | money }}</span>
          <span class="order-status">Status: {{ order.financial_status }}</span>
        </div>
      </div>
    {% endfor %}
  </div>

  </div>

</div>

{% schema %}
  {
    "name": "Customer Account Section",
    "tag": "section",
    "class": "section customer-account",
    "settings": [
      
    ],
    "blocks": [
    ]
  }
{% endschema %}